:root {
    /* project colors */
    --white: #fff;
    --black: #000;
    --gray: #ededed;
    --dark-blue: #004587;
    --blue: #4878a8;
    --red: #d20000;
    --green: #3d5306;
    --medium-light-blue: #84a4c4;
    --light-blue: #c0cfdf;
    --extra-light-blue: #e2e9f1;
    --mustard: rgba(168, 192, 36, 0.4);
    --dark-mustard: #a8c024;
    /* filter to apply in hover of images and logos */
    --dark-mustard-filter: brightness(0) saturate(100%) invert(72%) sepia(100%) saturate(376%) hue-rotate(17deg) brightness(87%) contrast(87%);

    /* project font weights (this values follows the figma nomeclature) */
    --bold: 800;
    --semi-bold: 700;
    --medium: 600;

    /* project font sizes */
    --screen-title: 3rem;
    --big-title: 1.5rem;
    --regular-text: 1.2rem;
    --span-text: 1rem;
    --small-text: 0.8rem;

    /* project font family */
    --font-family: "omnes-pro", sans-serif;
}